/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
body {
  font-family: "roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  outline: none !important;
}

.navbar-toggler {
  border: none !important;
}
